{% extends 'base.html' %} {% block body %}

<!--3c2e1471a6514464a290269dd41f753b-->
<div class="container">
  <hr />
  <h1 class="text-center">Top news in India</h1>
  <hr />
  <div class="row">
    {% for x in api.articles %}

    <div class="card mx-2 my-2" style="width: 18rem;">
      <img src="{{x.urlToImage}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{x.title}}</h5>
        <p class="card-text">{{x.descriptions|truncatechars:150}}.</p>
        <a href="{{x.url}}" class="btn btn-primary">Read More</a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
